.top-bar {
  -webkit-box-shadow: 2px 6px 5px -1px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 6px 5px -1px rgba(0,0,0,0.13);
  box-shadow: 2px 6px 5px -1px rgba(0,0,0,0.13);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding-right: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: flex-end;

}

.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-end;
  width: 250px;
}

.menu-item {
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  height: 37px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.sub-menu-item {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: black;
  border-style: solid;
  border-width: thin;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.menu-item-selected {
  background: #000000;
  color: #ffffff;
}

.menu div.menu-item:hover {
  background: #000000;
  color: #ffffff;
}

.site-title {
  padding-left: 25px;
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
}
