.sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-end;
  width: 250px;
  box-shadow: 2px 9px 15px -1px rgba(0,0,0,0.13);
}

.menu-item {
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  height: 37px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.sub-menu-item {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  background: #27a4de
}

.menu-item-selected {
  background: #a0d6dc;
  color: #ffffff;
}

.menu div.menu-item:hover {
  background: #a0d6dc;
  color: #ffffff;
}

.menu div.sub-menu-item:hover {
  background: #a0d6dc;
  color: #ffffff;
}

@media (min-width:1025px) {
  .site-title {
    padding-top: 25px;
    padding-left: 25px;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
  }
  .top-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 25px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: flex-end;
  }
}

@media all and (max-width: 1025px) {
  .site-title {
    padding-top: 0px;
    padding-left: 10px;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: initial;
    font-weight: bold;
    font-size: 30px;
  }
  .top-bar {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
    font-size: 18px;
  }
}
