.search-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    width: 550px;

}
.search-box-item {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: 40px;
     font-size: 20px;
     align-items: center;
 }
.search-box-item-search {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 40px;
    width:100%;
    font-size: 20px;
    align-items: center;
}
select {
    border: 2px #318492 solid;
    width: 300px;
}
input {
    border: 2px #318492 solid;
    width: 293px;
}
.results-tally {
    font-size: 20px;
}

