

body {
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 800px;
  background: url(./images/bg-grid.png), linear-gradient(320deg, #2424bb 0%, #27a4de 100%);
  background-repeat: repeat;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
